@import './config';

$bg-image-none: none;

.btn-text-sm {
  --#{$prefix}btn-font-size: #{$font-size-sm};
}

.btn-skewed-left {
  display: block;
  height: 100%;
  background-color: var(--#{$prefix}primary);
  color: var(--#{$prefix}white);
  position:relative;
  text-decoration: none;
  font-size: .825rem;

  &:hover {
    background-color: var(--#{$prefix}orange);
  }

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content: "";
    width: 1.375rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%);
    background: var(--#{$prefix}card-cap-bg);
    bottom: 0;
  }
}

.text-shadow {
  text-shadow: var(--#{$prefix}box-shadow);
}

.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--#{$prefix}border-color);
}

.text-big {
  @include font-size(5.5rem);
  font-weight: 900;
}

.bg-text {
  position: absolute;
  top: 0;
  left: 0;
  @include font-size(5.5rem);
  font-weight: 900;
  opacity: .65;
  line-height: 1;
  z-index: -1;
}

.bg-image-cover {
  --#{$prefix}bg-image: #{$bg-image-none};
  background-color: var(--#{$prefix}secondary);
  background-image: var(--#{$prefix}bg-image);
  background-position: center center;
  background-size: cover;
}

.skewed-box-top {
  position: relative;

  &::before {
    background-color: rgba($color: var(--#{$prefix}primary-rgb), $alpha: .5);
    position: absolute;
    top: -0.75rem;
    right: 0;
    bottom: 0;
    left: 0;
    clip-path: polygon(100% 30%, 0% 0%, 0% 100%, 100% 100%);
    display: block;
    content: "";
    z-index: 1;
  }
}

.icon-circle {
  border-radius: 50%;
  width: 1.75em;
  height: 1.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.card {
  --#{$prefix}link-color-rgb: var(--#{$prefix}body-color-rgb);
  .card-link {
    text-decoration: none;
  }

  .card-arrow-hover {
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    transition: $transition-base;
    z-index: 0;
  }

  .card-link-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    transition: $transition-base;
    z-index: 0;
  }

  &:hover {
    .card-arrow-hover {
      left:0;
      right: 0;
      z-index: 3;
    }
    .card-link-hover {
      left: 0;
      right: 0;
      z-index: 3;
    }
  }
}

header {
  .navbar-nav {
    --#{$prefix}nav-link-font-weight: 500;
    --#{$prefix}nav-link-font-size: #{$font-size-sm};
  }
}

.hero-image {
  --#{$prefix}hero-padding-x: 2rem;
  --#{$prefix}hero-padding-y: 7rem;
  --#{$prefix}hero-image: #{$bg-image-none};

  padding: var(--#{$prefix}hero-padding-x) var(--#{$prefix}hero-padding-y);
  background-color: var(--#{$prefix}secondary);
  background-image: var(--#{$prefix}hero-image);
  background-position: center center;
  background-size: cover;
  text-shadow: var(--#{$prefix}box-shadow);
  text-align:center;
  line-height: #{$line-height-sm};

  @include media-breakpoint-up(md){
    --#{$prefix}hero-padding-x: 4rem;
  }
  @include media-breakpoint-up(lg){
    --#{$prefix}hero-padding-x: 6rem;
  }
  @include media-breakpoint-up(xl){
    --#{$prefix}hero-padding-x: 8rem;
  }

  .heading {
    @include font-size(3.5rem);
  }

  .btn-light {
    --#{$prefix}btn-color: var(--#{$prefix}secondary);
  }
}

.spectacular-destinations {
  .carousel {
    .carousel-content {
      --#{$prefix}carousel-image: #{$bg-image-none};

      background-color: var(--#{$prefix}secondary);
      background-image: var(--#{$prefix}carousel-image);
      background-position: center center;
      background-size: cover;
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 2.5em;
      opacity: .75;

      &:hover {
        opacity: 1;
      }

      .icon-circle {
        background-color: var(--#{$prefix}warning);
        border: 1px solid var(--#{$prefix}warning);
        color: var(--#{$prefix}white);
      }
    }
  }
}

.destination-packages {
  .card-body {
    .small {
      font-size: $font-size-base * .75;
    }
  }
  .card-footer {
    --#{$prefix}card-cap-bg: var(--#{$prefix}gray-200);
  }
}

.reviews {
  .carousel-control-prev,
  .carousel-control-next {
    width: 2.5em;
    opacity: .75;
    position: relative;

    &:hover {
      opacity: 1;
    }

    .icon-circle {
      background-color: transparent;
      border: 1px solid var(--#{$prefix}white);
      color: var(--#{$prefix}white);
    }
  }
}

.awards {
  .carousel-control-prev,
  .carousel-control-next {
    width: 2.5em;
    opacity: .75;

    .icon-circle {
      background-color: var(--#{$prefix}white);
      border: 1px solid var(--#{$prefix}warning);
      color: var(--#{$prefix}warning);
    }

    &:hover {
      opacity: 1;

      .icon-circle {
        background-color: var(--#{$prefix}white);
      }
    }
  }
}

.footer {
  --#{$prefix}dark-rgb: #{to-rgb(#160220)};
  --#{$prefix}border-color: #350050;

  --#{$prefix}link-color-rgb: var(--#{$prefix}white-rgb);
  --#{$prefix}link-hover-color-rgb: var(--#{$prefix}white-rgb);

  a {
    text-decoration: none;

    &.icon-circle {
      background-color: rgba(var(--#{$prefix}white-rgb), .75);
      color: var(--#{$prefix}dark);

      &:hover {
        background-color: rgba(var(--#{$prefix}white-rgb), 1);
      }
    }
  }

  .nav {
    --#{$prefix}nav-link-padding-x: 0;
    --#{$prefix}nav-link-padding-y: .25rem;
    --#{$prefix}nav-link-color: #8a6a9b;
    --#{$prefix}nav-link-hover-color: var(--#{$prefix}white);
    --#{$prefix}nav-link-font-size: .875rem;
  }

  .input-group {
    --#{$prefix}border-color: var(--#{$prefix}white);
  }
}